<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Sportify - Home</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/tiny-slider.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link rel="shortcut icon" href="/assets/favicon1.png">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>

	<!-- Navbar -->
	<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" aria-label="Sportify navbar">
		<div class="container">
			<a class="navbar-brand" href="/" th:href="@{/home}">Sportify<span>.</span></a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsSportify"
				aria-controls="navbarsSportify" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsSportify">
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<li><a class="nav-link" th:href="@{/shop}">Shop</a></li>
					<li><a class="nav-link" th:href="@{/about}">About</a></li>
					<li><a class="nav-link" th:href="@{/contact}">Contact</a></li>

					<!-- Logged In -->
					<li th:if="${#authorization.expression('isAuthenticated()')}">
						<a class="nav-link" th:href="@{/profile}">Profile</a>
					</li>
					<li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
						<a class="nav-link" th:href="@{/admin/dashboard}">Admin</a>
					</li>
				</ul>
				<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
					<!-- Not Logged In -->
					<li th:if="${!#authorization.expression('isAuthenticated()')}">
						<a class="nav-link" th:href="@{/login}"><img src="/assets/user.svg"></a>
					</li>
					<li><a class="nav-link" th:href="@{/cart}"><img src="/assets/cart.svg"></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Hero Section -->
	<div class="hero">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-5">
					<div class="intro-excerpt">
						<h1>Welcome to <span clsas="d-block">Sportify</span></h1>
						<p class="mb-4">Your trusted destination for premium sports accessories — football, cricket,
							gym, and beyond.</p>
						<p><a th:href="@{/shop}" class="btn btn-secondary me-2">Shop Now</a><a th:href="@{/about}"
								class="btn btn-white-outline">Learn More</a></p>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="hero-img-wrap">
						<img src="/assets/hero.png" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Hero Section -->
	<!-- Start Product Section -->
	<div class="product-section">
		<div class="container">
			<div class="row">

				<!-- Start Column 1 -->
				<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
					<h2 class="mb-4 section-title">Crafted with excellent material.</h2>
					<p class="mb-4">Every product at Sportify is crafted using premium-grade materials to ensure
						top-tier performance, durability, and comfort. Whether you're gearing up for a football match,
						hitting the gym, or practicing your cricket shots — our accessories are built to endure every
						challenge you take on. </p>
					<p><a th:href="@{shop}" class="btn">Explore</a></p>
				</div>
				<!-- End Column 1 -->

				<!-- Start Column 2 -->
				<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
					<a class="product-item" th:href="@{shop}">
						<img src="/assets/product-1.png" class="img-fluid product-thumbnail">
						<h3 class="product-title">Real Madrid Home Kit</h3>
						<strong class="product-price">₹799.00</strong>
						<span class="icon-cross">
							<img src="/assets/cross.svg" class="img-fluid">
						</span>
					</a>
				</div>
				<!-- End Column 2 -->

				<!-- Start Column 3 -->
				<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
					<a class="product-item" th:href="@{shop}">
						<img src="/assets/product-2.png" class="img-fluid product-thumbnail">
						<h3 class="product-title">Nike Football Boots</h3>
						<strong class="product-price">₹4999</strong>

						<span class="icon-cross">
							<img src="/assets/cross.svg" class="img-fluid">
						</span>
					</a>
				</div>
				<!-- End Column 3 -->

				<!-- Start Column 4 -->
				<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
					<a class="product-item" th:href="@{shop}">
						<img src="/assets/product-3.png" class="img-fluid product-thumbnail">
						<h3 class="product-title">Gym Quipment</h3>
						<strong class="product-price">₹2599</strong>

						<span class="icon-cross">
							<img src="/assets/cross.svg" class="img-fluid">
						</span>
					</a>
				</div>
				<!-- End Column 4 -->

			</div>
		</div>
	</div>
	<!-- End Product Section -->
	<!-- Start Why Choose Us Section -->
	<div class="why-choose-section">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-6">
					<h2 class="section-title">Why Choose Sportify?</h2>
					<p>At Sportify, we believe sports gear should be powerful, reliable, and stylish. Whether you're a
						beginner or a pro, we deliver quality that helps you push your limits.</p>

					<div class="row my-5">
						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
									<img src="/assets/truck.svg" alt="Image" class="imf-fluid">
								</div>
								<h3>Fast &amp; Free Shipping</h3>
								<p>Get your gear delivered anywhere in India with fast, reliable, and free shipping on
									all orders.</p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
									<img src="/assets/bag.svg" alt="Image" class="imf-fluid">
								</div>
								<h3>Easy to Shop</h3>
								<p>Our user-friendly platform ensures hassle-free browsing, secure payments, and smooth
									checkout.</p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
									<img src="/assets/support.svg" alt="Image" class="imf-fluid">
								</div>
								<h3>24/7 Support</h3>
								<p>Have a query? Our support team is always ready to help you via chat, mail, or call —
									anytime you need.</p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
									<img src="/assets/return.svg" alt="Image" class="imf-fluid">
								</div>
								<h3>Hassle Free Returns</h3>
								<p>Not satisfied with your order? Enjoy a 7-day no-questions-asked return policy on
									eligible items.</p>
							</div>
						</div>

					</div>
				</div>

				<div class="col-lg-5">
					<div class="img-wrap">
						<img src="/assets/why-choose-us-img1.png" alt="Image" class="img-fluid">
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- End Why Choose Us Section -->
	<!-- Start Inspiring Quotes Slider -->
	<div class="testimonial-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 mx-auto text-center">
					<h2 class="section-title">Inspiring Quotes</h2>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="testimonial-slider-wrap text-center">

						<div id="testimonial-nav">
							<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
							<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
						</div>

						<div class="testimonial-slider">

							<!-- Quote 1 -->
							<div class="item">
								<div class="row justify-content-center">
									<div class="col-lg-8 mx-auto">
										<div class="testimonial-block text-center">
											<blockquote class="mb-5">
												<p>&ldquo;Never give up; just absolutely never give up. &rdquo;</p>
											</blockquote>
											<div class="author-info">
												<h3 class="font-weight-bold">Shane Warne</h3>
												<span class="position d-block mb-3">Cricket Legend</span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Quote 2 -->
							<div class="item">
								<div class="row justify-content-center">
									<div class="col-lg-8 mx-auto">
										<div class="testimonial-block text-center">
											<blockquote class="mb-5">
												<p>&ldquo;If you don’t believe you’re the best, then you will never
													achieve all that you are capable of.&rdquo;</p>
											</blockquote>
											<div class="author-info">
												<h3 class="font-weight-bold">Cristiano Ronaldo</h3>
												<span class="position d-block mb-3">Football Player</span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Quote 3 -->
							<div class="item">
								<div class="row justify-content-center">
									<div class="col-lg-8 mx-auto">
										<div class="testimonial-block text-center">
											<blockquote class="mb-5">
												<p>&ldquo;Success is no accident. It is hard work, perseverance,
													learning, studying, sacrifice and most of all, love of what you are
													doing.&rdquo;</p>
											</blockquote>
											<div class="author-info">
												<h3 class="font-weight-bold">Pelé</h3>
												<span class="position d-block mb-3">Football Legend</span>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div> <!-- /.testimonial-slider -->

					</div> <!-- /.testimonial-slider-wrap -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Inspiring Quotes Slider -->
	<footer class="footer-section">
		<div class="container relative">

			<div class="sofa-img">
				<img src="/assets/mizuna_boot.png" alt="Image" class="img-fluid">
			</div>


			<div class="row g-5 mb-5">
				<div class="col-lg-4">
					<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Sportify<span>.</span></a></div>
					<p class="mb-4"></p>

					<ul class="list-unstyled custom-social">
						<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
					</ul>
				</div>

				<div class="col-lg-8">
					<div class="row links-wrap">
						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="/about" th:href="@{/about}">About us</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="/contact" th:href="@{/contact}">Contact us</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">Support</a></li>
								<li><a href="#">Knowledge base</a></li>
								<li><a href="#">Live chat</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">Jobs</a></li>
								<li><a href="#">Our team</a></li>
								<li><a href="#">Leadership</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">Sports Kits</a></li>
								<li><a href="#">Gym Equipments</a></li>

							</ul>
						</div>
					</div>
				</div>

			</div>

			<div class="border-top copyright">
				<div class="row pt-4">
					<div class="col-lg-6">
						<p class="mb-2 text-center text-lg-start">Copyright &copy;
							<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash;
							Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a
								hreff="https://themewagon.com">ThemeWagon</a>
							<!-- License information: https://untree.co/license/ -->
						</p>
					</div>

					<div class="col-lg-6 text-center text-lg-end">
						<ul class="list-unstyled d-inline-flex ms-auto">
							<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>

				</div>
			</div>

		</div>
	</footer>


	<!-- JS Scripts -->
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/tiny-slider.js"></script>
	<script src="/js/custom.js"></script>
</body>

</html>