<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="css/tiny-slider.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form th:action="@{/register}" method="post" th:object="${user}">
        <label>Username: <input type="text" th:field="*{username}"></label>
        <label>Password: <input type="password" th:field="*{password}"></label>
        <label>Email: <input type="email" th:field="*{email}"></label>
        <button type="submit">Register</button>
    </form>
	<p th:if="${error}" th:text="${error}"></p>
	<a th:href="@{/login}">Already have an account?</a>
    
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/tiny-slider.js"></script>
		<script src="js/custom.js"></script>
</body>
</html>